{{ define "main" }}
  {{- $placeholder := (T "searchPlaceholder") | default "Search..." -}}
  <main class="hx:mx-auto hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:w-full hx:max-w-3xl hx:flex-col hx:px-6 hx:pt-12">
    {{ if .Title }}
      <h1 class="hx:mb-6 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Title }}</h1>
    {{ end }}
    <div class="hextra-search-wrapper hx:relative hx:w-full">
      <div class="hx:relative hx:flex hx:items-center hx:text-gray-900 hx:contrast-more:text-gray-800 hx:dark:text-gray-300 hx:contrast-more:dark:text-gray-300">
        <input
          placeholder="{{ $placeholder }}"
          class="hextra-search-input hx:focus:hextra-focus hx:block hx:w-full hx:appearance-none hx:rounded-lg hx:px-3 hx:py-2 hx:transition-colors hx:text-base hx:leading-tight hx:md:text-sm hx:bg-black/[.05] hx:dark:bg-gray-50/10 hx:focus:bg-white hx:dark:focus:bg-dark hx:placeholder:text-gray-500 hx:dark:placeholder:text-gray-400 hx:contrast-more:border hx:contrast-more:border-current"
          type="search"
          value=""
          spellcheck="false"
          autofocus
        />
      </div>
      <div>
        <ul
          class="hextra-search-results hextra-scrollbar hx:hidden hx:border hx:border-gray-200 hx:bg-white hx:text-gray-100 hx:dark:border-neutral-800 hx:dark:bg-neutral-900 hx:absolute hx:top-full hx:z-20 hx:mt-2 hx:overflow-auto hx:overscroll-contain hx:rounded-xl hx:py-2.5 hx:shadow-xl hx:max-h-[min(calc(50vh-11rem-env(safe-area-inset-bottom)),400px)] hx:md:max-h-[min(calc(100vh-5rem-env(safe-area-inset-bottom)),400px)] hx:inset-x-0 hx:ltr:md:left-auto hx:rtl:md:right-auto hx:contrast-more:border hx:contrast-more:border-gray-900 hx:contrast-more:dark:border-gray-50 hx:w-screen hx:min-h-[100px] hx:max-w-[min(calc(100vw-2rem),calc(100%+20rem))]"
          style="transition: max-height 0.2s ease 0s;"
        ></ul>
      </div>
    </div>
  </main>
{{ end }}
